/*$fontPcXL: 26px;
$fontPcL: 22px;
$fontPcM: 18px;
$fontPcS: 14px;
$fontPcXS: 10px;*/
body {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  background-color: #333333;
  margin: 100px 0 0 0px;
  padding: 0 0 0 0; }

.introPosition {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 5%;
  padding: 0;
  width: 100%; }
  .introPosition.lower {
    margin-top: 0; }
  .introPosition .introLogo {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    /*margin: auto;*/ }
    .introPosition .introLogo .logoImg {
      height: 200px; }
      .introPosition .introLogo .logoImg:hover {
        cursor: pointer; }
  .introPosition .introText {
    color: ghostwhite;
    font-size: 16px;
    text-align: center;
    padding-top: 20px; }
    .introPosition .introText.big {
      font-size: 27px;
      font-weight: bold; }
    .introPosition .introText.small {
      font-size: 12px; }

.loginPosition {
  margin-top: 40px; }
  .loginPosition .loginForm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid white;
    border-radius: 15px;
    padding: 20px;
    width: 200px; }
  .loginPosition .identifier-big {
    color: whitesmoke;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;
    text-align: center; }

.myNavbar {
  background-color: #004E99;
  width: 100%;
  height: 70px;
  margin: -100px 0 0 0; }

.myUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

a {
  /*a:-webkit-any-link {*/
  text-decoration: none;
  color: inherit;
  cursor: default; }
  a:hover {
    /*background-color:red;*/
    text-decoration: none;
    cursor: inherit;
    transform: scale(1.15); }

.tableLi {
  position: absolute;
  float: none;
  padding-left: 0px;
  padding-top: calc(1%);
  font-size: 14px; }

.settingLi {
  margin-left: 90%;
  /*width:300px;*/
  /*float:none;*/
  /*padding-right:calc(100% - 175px);*/
  font-size: 12px; }

.tableDiv {
  color: #e6e6ff;
  margin: 10px 0 0 100px;
  font-size: 24px; }
  .tableDiv:hover {
    cursor: pointer; }

.userControlsDiv {
  text-decoration: none;
  color: #e6e6ff;
  font-size: 14px;
  float: unset;
  /*padding-top: 0px;*/
  /*padding-right: 0px;
	padding-left: 0px;
	padding-bottom:15px;*/ }
  .userControlsDiv:hover {
    cursor: pointer;
    text-decoration: none; }

.userNameDiv {
  color: #e6e6ff;
  font-size: 12px;
  margin: 0 0 0 -15px;
  padding-top: 20px;
  padding-right: 360px;
  width: 200px; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 0;
  margin-left: 100px; }

.rTable {
  display: table;
  margin: 50px 0 0 0;
  padding: 20px; }

.rTableRow {
  display: table-row; }

.rTableCell, .rTableCell0, .rTableCell1, .rTableCell2, .rTableCell3, .rTableCellX, .firstColumn, .rTableHeading, .firstCell, .leftNavigation {
  background-color: #cce5ff;
  border: 1px solid #333333;
  display: table-cell;
  padding: 10px;
  text-align: center;
  max-width: 200px; }

.rTableCell0 {
  background-color: #cce5ff; }

.rTableCell1 {
  background-color: #ffff30; }

.rTableCell2 {
  background-color: #ffff30; }

.rTableCell3 {
  background-color: #53d134; }

.rTableCellX {
  background-color: #3a3838; }

.firstColumn {
  padding: 8px 0;
  background-color: #004E99;
  border: 1px solid #333333;
  border-right: 1px solid #333333;
  border-left: none;
  color: #e6e6ff;
  vertical-align: middle; }

.rTableHeading, .firstCell {
  background-color: #003D78;
  border: 1px solid #333333;
  border-top: none;
  border-bottom: 1px solid #333333;
  font-weight: bold;
  color: #e6e6ff;
  vertical-align: middle; }

.firstCell {
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #003D78; }

.upperNavigation {
  text-align: center;
  display: table-cell;
  background-color: #333333;
  border: none; }

.leftNavigation {
  background-color: #333333;
  border: none; }

.selecter {
  margin: 10px 0;
  background: #003D78;
  color: #e6e6ff;
  border: 1px solid #cce5ff;
  outline: none;
  width: 65px; }
  .selecter option {
    background: #003D78;
    color: #e6e6ff; }
  .selecter.univStudies {
    font-size: 12px;
    width: 125px;
    cursor: pointer; }
    .selecter.univStudies:hover {
      background: #0071de; }
  .selecter.univCourse {
    font-size: 12px;
    width: 125px;
    cursor: pointer; }
    .selecter.univCourse:hover {
      background: #0071de; }

.selecter_s {
  margin: 5px 0;
  background: #cce5ff;
  color: #000;
  border: 1px solid #333333;
  outline: none;
  width: 200px;
  font-weight: bold; }
  .selecter_s option {
    background: #c2e0ff;
    color: #000; }

.row_s {
  display: table-row; }

.cell_s {
  display: table-cell;
  padding: 10px 20px;
  line-height: 1;
  vertical-align: top; }

.table-cell {
  background-color: red;
  height: 20%; }

.arrow, .arrowLeft, .arrowLeftDisabled, .arrowRight, .arrowRightDisabled, .arrowUp, .arrowUpDisabled, .arrowDown, .arrowDownDisabled {
  background-color: #cce5ff;
  border: 2px solid #0d0d0d;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px;
  position: absolute;
  vertical-align: middle;
  transition: transform .3s ease, background-color .1s; }
  .arrow:hover, .arrowLeft:hover, .arrowLeftDisabled:hover, .arrowRight:hover, .arrowRightDisabled:hover, .arrowUp:hover, .arrowUpDisabled:hover, .arrowDown:hover, .arrowDownDisabled:hover {
    transform: scale(1.15);
    cursor: pointer; }
  .arrow:active, .arrowLeft:active, .arrowLeftDisabled:active, .arrowRight:active, .arrowRightDisabled:active, .arrowUp:active, .arrowUpDisabled:active, .arrowDown:active, .arrowDownDisabled:active {
    background-color: #0064cc; }

.arrowLeft {
  position: absolute;
  margin: -60px 45px 0 50px; }

.arrowLeftDisabled {
  position: absolute;
  margin: -60px 45px 0 50px;
  background-color: #595959; }
  .arrowLeftDisabled:hover {
    transform: scale(1);
    cursor: auto; }
  .arrowLeftDisabled:active {
    background-color: #8e1000; }

.arrowRight {
  position: absolute;
  margin: -60px 45px 0 80px; }

.arrowRightDisabled {
  position: absolute;
  margin: -60px 45px 0 80px;
  background-color: #595959; }
  .arrowRightDisabled:hover {
    transform: scale(1);
    cursor: auto; }
  .arrowRightDisabled:active {
    background-color: #8e1000; }

.arrowUp {
  margin: 10px 0px 0px -55px; }

.arrowUpDisabled {
  position: absolute;
  margin: 10px 0px 0px -55px;
  background-color: #595959; }
  .arrowUpDisabled:hover {
    transform: scale(1);
    cursor: auto; }
  .arrowUpDisabled:active {
    background-color: #8e1000; }

.arrowDown {
  margin: 55px 0 0 -55px; }
  .arrowDown .fa-arrow-down {
    padding: 0 0 0 0;
    margin: 0 0 0 0; }

.arrowDownDisabled {
  position: absolute;
  margin: 55px 0 0 -55px;
  background-color: #595959; }
  .arrowDownDisabled:hover {
    transform: scale(1);
    cursor: auto; }
  .arrowDownDisabled:active {
    background-color: #8e1000; }

.searchStudent, .searchStudentDisabled {
  background-color: #f0f7ff;
  border: 1px solid #333333;
  border-radius: 3px;
  width: 152px;
  margin: -9px 0 0 0;
  outline: none;
  padding: 2px;
  font-size: 10px; }

.searchStudentDisabled {
  visibility: hidden; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #000; }

.label_t {
  padding: 1px 6px;
  margin: 5px 15px;
  font-size: 14px; }
  .label_t.groupName {
    font-size: 14px; }
  .label_t.groupOwner {
    font-size: 12px; }
  .label_t.demoName {
    padding: 6px 20px;
    margin: 5px 15px 0 15px;
    font-weight: bolder;
    background-color: #e6eeff;
    border: 2px solid #333333;
    border-radius: 3px;
    width: 112px;
    height: 15px;
    word-wrap: break-word; }
  .label_t.date {
    font-size: 12px; }

.change-settings-label {
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: bolder;
  padding-left: 20px;
  padding-bottom: 20px; }

.identifier {
  color: white;
  padding-top: 3px;
  font-size: 12px; }

.identifier-bold {
  color: white;
  padding-top: 3px;
  padding-left: 5px;
  font-size: 12px;
  font-weight: bold; }

.identifier-small {
  color: #ddd;
  padding-top: 3px;
  padding-left: 31px;
  font-size: 10px;
  font-style: italic; }

.identifier-big {
  color: ghostwhite;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px;
  float: left;
  width: 200px; }

input:hover {
  cursor: default; }

.input_s {
  margin: 5px 0 2px 0;
  padding-left: 3px;
  width: 199px;
  border: 1px solid #cce5ff;
  background: #cce5ff;
  border-radius: 2px;
  font-weight: 700;
  outline: none; }
  .input_s:hover {
    background-color: #99cbff; }

.input_login {
  margin: 5px 0 2px 0;
  padding-left: 3px;
  text-align: center;
  width: 199px;
  border: 1px solid #cce5ff;
  background: #cce5ff;
  border-radius: 2px;
  font-weight: 700;
  outline: none; }
  .input_login:hover {
    background-color: #99cbff; }

.tableButton {
  border: 1px solid #333333;
  border-radius: 4px;
  color: black;
  font-family: 'Lato', sans-serif;
  margin: 9px 3px 20px 3px;
  height: 35px;
  width: 75px;
  transition: all .1s ease;
  outline: none;
  font-size: 10px;
  word-wrap: break-word;
  /*padding:2px;*/ }
  .tableButton.takeTerm, .tableButton.takeTermDisabled {
    font-size: 12px;
    background-color: #226d0f;
    color: palegreen;
    /*font-weight: bold;*/ }
    .tableButton.takeTerm:hover, .tableButton.takeTermDisabled:hover {
      background-color: #1b570c;
      cursor: pointer; }
  .tableButton.takeTermDisabled {
    background-color: #595959;
    color: black;
    visibility: hidden; }
    .tableButton.takeTermDisabled:hover {
      background-color: #4c4c4c;
      cursor: pointer; }
  .tableButton.skipTerm, .tableButton.skipTermDisabled {
    font-size: 12px;
    background-color: #8e1000;
    /*font-weight: bold;*/
    color: #ffd1d1;
    /*visibility: hidden;*/ }
    .tableButton.skipTerm:hover, .tableButton.skipTermDisabled:hover {
      background-color: #5b0a00;
      cursor: pointer; }
  .tableButton.skipTermDisabled {
    background-color: #595959;
    /*color: $buttonSkipColor;*/
    visibility: hidden; }
    .tableButton.skipTermDisabled:hover {
      background-color: #4c4c4c;
      cursor: pointer; }

.logOutButton {
  background-color: #004E99;
  border: none;
  color: #e6e6ff;
  font-size: 16px; }
  .logOutButton:hover {
    cursor: pointer;
    text-decoration: underline; }
  .logOutButton:focus {
    outline: none; }

.cogButton {
  background-color: #004E99;
  border: none;
  color: #e6e6ff;
  font-size: 16px; }
  .cogButton:hover {
    cursor: pointer;
    text-decoration: none; }

.allSettings {
  padding: 15px;
  width: 250px;
  border-radius: 5px; }
  .allSettings .passwordSetting {
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px; }
  .allSettings .adminSettings {
    /*visibility:collapse;*/ }
    .allSettings .adminSettings .courseSettings {
      padding: 10px;
      border: 1px solid white;
      border-radius: 5px; }
    .allSettings .adminSettings .userSettings {
      padding: 10px;
      border: 1px solid white;
      border-radius: 5px; }
    .allSettings .adminSettings .groupSettings {
      padding: 10px;
      border: 1px solid white;
      border-radius: 5px; }
    .allSettings .adminSettings .termSettings {
      padding: 10px;
      border: 1px solid white;
      border-radius: 5px; }

.saveSetting, .saveSetting2, .deleteSetting {
  border: none;
  background: #226d0f;
  font-weight: 700;
  padding: 7px 21px;
  width: 199px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  outline: none;
  color: palegreen; }
  .saveSetting:hover, .saveSetting2:hover, .deleteSetting:hover {
    background-color: #1b570c;
    cursor: pointer; }

.saveSetting2 {
  width: 117px;
  color: palegreen; }

.deleteSetting {
  background: #990000;
  width: 80px;
  color: #ffd1d1; }
  .deleteSetting:hover {
    background-color: #660000; }

.checkbox1 {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #333333;
  border: 1px solid #fff;
  border-radius: 13px;
  vertical-align: middle;
  cursor: pointer;
  color: red;
  outline: none; }
  .checkbox1:checked {
    background-color: #cce5ff;
    border: 1px solid #fff;
    color: #99a1a7; }
  .checkbox1:hover {
    background-color: #666666; }

