body {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  background-color: #333333;
  margin: 70px 0 0 0px;
  padding: 0 0 0 0; }

.intro_s {
  text-align: center;
  align-content: center;
  position: absolute;
  display: marker;
  margin-left: calc(50% - 150px);
  margin-top: calc(10% - 50px); }

.red_box {
  background-color: red;
  padding: 10px; }

.blue_box {
  background-color: blue;
  padding: 10px; }

.green_box {
  background-color: green;
  padding: 10px; }

.yellow_box {
  background-color: yellow;
  padding: 10px; }

.white_box {
  background-color: white;
  padding: 10px; }

.myNavbar {
  background-color: #004E99;
  width: 100%;
  height: 80px;
  margin: -69px 0 0 0; }

.myUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

a:-webkit-any-link {
  text-decoration: none;
  color: white;
  cursor: default; }
  a:-webkit-any-link:hover {
    background-color: red;
    text-decoration: underline; }

.tableLi {
  position: absolute;
  float: none;
  padding-left: 0px;
  font-size: 25px; }

.settingLi {
  /*position:absolute;*/
  float: none;
  padding-left: calc(100% - 175px);
  font-size: 20px; }

.tableDiv {
  color: #e6e6ff;
  margin: 20px 0 0 100px; }

.settingsDiv {
  text-decoration: none;
  color: #e6e6ff;
  padding-top: 15px;
  padding-right: 70px;
  padding-left: 0px;
  padding-bottom: 0; }

.loginDiv {
  color: #e6e6ff;
  /*padding-top: 25px;*/
  padding-right: 70px;
  padding-left: 0px;
  padding-bottom: 0; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 0;
  margin-left: 100px; }

.rTable {
  display: table;
  margin: 50px 0 0 0;
  padding: 20px; }

.rTableRow {
  display: table-row; }

.rTableCell, .firstColumn, .rTableHeading, .firstCell, .leftNavigation {
  background-color: #cce5ff;
  border: 1px solid #333333;
  display: table-cell;
  padding: 35px 35px 35px 35px;
  text-align: center; }

.firstColumn {
  padding: 15px 0;
  background-color: #004E99;
  border: 1px solid #333333;
  border-right: 1px solid #333333;
  border-left: none;
  color: #e6e6ff;
  vertical-align: middle; }

.rTableHeading, .firstCell {
  background-color: #003D78;
  border: 1px solid #333333;
  border-top: none;
  border-bottom: 1px solid #333333;
  font-weight: bold;
  color: #e6e6ff;
  vertical-align: middle; }

.firstCell {
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #003D78; }

.upperNavigation {
  text-align: center;
  display: table-cell;
  background-color: #333333;
  border: none; }

.leftNavigation {
  background-color: #333333;
  border: none; }

.selecter {
  margin: 10px 0;
  background: #003D78;
  color: #e6e6ff;
  border: 1px solid #cce5ff;
  outline: none;
  width: 135px; }
  .selecter option {
    background: #003D78;
    color: #e6e6ff; }
  .selecter.univStudies {
    font-size: 30px;
    width: 250px; }
  .selecter.univCourse {
    font-size: 30px;
    width: 250px; }

.selecter_s {
  margin: 5px 0;
  background: #cce5ff;
  color: #000;
  border: 1px solid #333333;
  outline: none;
  width: 200px;
  font-weight: bold; }
  .selecter_s option {
    background: #c2e0ff;
    color: #000; }

.row_s {
  display: table-row; }

.cell_s {
  display: table-cell;
  padding: 10px 20px;
  line-height: 1;
  vertical-align: top; }

.arrow, .arrowLeft, .arrowLeftDisabled, .arrowRight, .arrowRightDisabled, .arrowUp, .arrowUpDisabled, .arrowDown, .arrowDownDisabled {
  background-color: #cce5ff;
  border: 2px solid #0d0d0d;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
  position: absolute;
  vertical-align: middle;
  transition: all .3s ease; }
  .arrow:hover, .arrowLeft:hover, .arrowLeftDisabled:hover, .arrowRight:hover, .arrowRightDisabled:hover, .arrowUp:hover, .arrowUpDisabled:hover, .arrowDown:hover, .arrowDownDisabled:hover {
    transform: scale(1.15); }

.arrowLeft {
  position: absolute;
  margin: -10px 45px 0 77px; }

.arrowLeftDisabled {
  position: absolute;
  margin: -10px 45px 0 77px;
  background-color: #595959; }
  .arrowLeftDisabled:hover {
    transform: scale(1); }

.arrowRight {
  position: absolute;
  margin: -10px 15px 0 95px; }

.arrowRightDisabled {
  position: absolute;
  margin: -10px 15px 0 95px;
  background-color: #595959; }
  .arrowRightDisabled:hover {
    transform: scale(1); }

.arrowUp {
  margin: 10px 0 0 -55px; }

.arrowUpDisabled {
  position: absolute;
  margin: 10px 0 0 -55px;
  background-color: #595959; }
  .arrowUpDisabled:hover {
    transform: scale(1); }

.arrowDown {
  margin: 35px 0 0 -55px; }
  .arrowDown .fa-arrow-down {
    padding: 0 0 0 0;
    margin: 0 0 0 0; }

.arrowDownDisabled {
  position: absolute;
  margin: 35px 0 0 -55px;
  background-color: #595959; }
  .arrowDownDisabled:hover {
    transform: scale(1); }

.search-student {
  background-color: #f0f7ff;
  border: 1px solid #333333;
  border-radius: 3px;
  width: 130px;
  margin: 0 0;
  outline: none;
  padding: 2px; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #000; }

.demoName {
  padding: 1px 22px;
  margin: 0 15px;
  font-weight: bolder;
  background-color: #e6eeff;
  border: 2px solid #333333;
  border-radius: 3px;
  width: 130px; }

.label_t {
  padding: 1px 6px;
  margin: 5px 15px; }

.change-settings-label {
  margin-top: 20px;
  color: white;
  font-size: 23px;
  font-weight: bolder;
  padding-left: 20px;
  padding-bottom: 20px; }

.identifier {
  color: white;
  padding-top: 3px;
  font-size: 14px; }

.identifier-bold {
  color: white;
  padding-top: 3px;
  padding-left: 5px;
  font-size: 18px;
  font-weight: bold; }

.identifier-small {
  color: #ddd;
  padding-top: 3px;
  padding-left: 31px;
  font-size: 18px;
  font-style: italic; }

.identifier-big {
  color: ghostwhite;
  font-size: 21px;
  font-weight: bold;
  padding-bottom: 5px;
  float: left;
  width: 200px; }

input:hover {
  cursor: default; }

.input_s {
  margin: 5px 0 2px 0;
  padding-left: 3px;
  width: 199px;
  border: 1px solid #cce5ff;
  background: #cce5ff;
  border-radius: 2px;
  font-weight: 700;
  outline: none; }
  .input_s:hover {
    background-color: #99cbff; }

.input_login {
  margin: 5px 0 2px 0;
  padding-left: 3px;
  text-align: center;
  width: 199px;
  border: 1px solid #cce5ff;
  background: #cce5ff;
  border-radius: 2px;
  font-weight: 700;
  outline: none; }
  .input_login:hover {
    background-color: #99cbff; }

.tableButton {
  border: 1px solid #333333;
  border-radius: 4px;
  color: black;
  font-family: 'Lato', sans-serif;
  margin: 20px 3px 20px 3px;
  transition: all .1s ease;
  outline: none; }
  .tableButton.takeTerm {
    background-color: green; }
    .tableButton.takeTerm:hover {
      background-color: #006700;
      cursor: pointer; }
  .tableButton.takeTerm_disabled {
    background-color: #595959; }
    .tableButton.takeTerm_disabled:hover {
      background-color: #4c4c4c;
      cursor: pointer; }
  .tableButton.skipTerm {
    background-color: gray; }
    .tableButton.skipTerm:hover {
      background-color: #737373;
      cursor: pointer; }

.allSettings {
  padding: 15px;
  width: 250px;
  border-radius: 5px; }
  .allSettings .passwordSetting {
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px; }
  .allSettings .adminSettings {
    visibility: collapse; }
    .allSettings .adminSettings .courseSettings {
      padding: 10px;
      border: 1px solid white;
      border-radius: 5px; }
    .allSettings .adminSettings .userSettings {
      padding: 10px;
      border: 1px solid white;
      border-radius: 5px; }
    .allSettings .adminSettings .groupSettings {
      padding: 10px;
      border: 1px solid white;
      border-radius: 5px; }
    .allSettings .adminSettings .termSettings {
      padding: 10px;
      border: 1px solid white;
      border-radius: 5px; }

.saveSetting, .saveSetting2, .deleteSetting {
  border: none;
  background: green;
  font-weight: 700;
  padding: 7px 21px;
  width: 199px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  outline: none;
  color: palegreen; }
  .saveSetting:hover, .saveSetting2:hover, .deleteSetting:hover {
    background-color: #006700;
    cursor: pointer; }

.saveSetting2 {
  width: 117px;
  color: palegreen; }

.deleteSetting {
  background: #990000;
  width: 80px;
  color: lightgray; }
  .deleteSetting:hover {
    background-color: #660000; }

.loginPosition {
  text-align: center;
  align-content: center;
  position: absolute;
  margin-left: calc(50% - 200px);
  margin-top: calc(25% - 50px); }

.loginForm {
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px; }

.checkbox1 {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #333333;
  border: 1px solid #fff;
  border-radius: 13px;
  vertical-align: middle;
  cursor: pointer;
  color: red;
  outline: none; }
  .checkbox1:checked {
    background-color: #cce5ff;
    border: 1px solid #fff;
    color: #99a1a7; }
  .checkbox1:hover {
    background-color: #666666; }

