/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id]
      ,[Name]
      ,[Leader]
      ,[Asistant]
      ,[IsActive]
  FROM [Demonstrature].[dbo].[CourseT]
  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id]
      ,[Username]
      ,[FullName]
      ,[Password]
      ,[Role]
      ,[IsActive]
  FROM [Demonstrature].[dbo].[UserT]
  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id]
      ,[CourseId]
      ,[UserId]
      ,[GroupId]
      ,[Date]
      ,[IsAvailable]
  FROM [Demonstrature].[dbo].[TermT]
  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id]
      ,[Name]
      ,[Owner]
  FROM [Demonstrature].[dbo].[GroupT]
