@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/Pages/Table.js"></script>
<h2>Table</h2>

<div class="main-table">
    <div class="row">
        <div class="cell">
            <label></label>
            <button>Click</button>
            <button>Click</button>
            <label></label>
        </div>
        <div class="cell">
            <label>
                <button>Click</button>
            </label>
        </div>
        <div class="cell">
            <label>
                <button>Click</button>
            </label>
        </div>
        <div class="cell">
            <label>
                <button>Click</button>
            </label>
        </div>
        <div class="cell">
            <label>
                <button>Click</button>
            </label>
        </div>
        <div class="cell">
            <label>
                <button>Click</button>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <label>
                <button>Click</button>
            </label>
        </div>
        <div class="cell">
            <label>
                <button>Click</button>
            </label>
        </div>
        <div class="cell">
            <label>
                <button>Click</button>
            </label>
        </div>
        <div class="cell">
            <label>
                <button>Click</button>
            </label>
        </div>
        <div class="cell">
            <label>
                <button>Click</button>
            </label>
        </div>
        <div class="cell">
            <label>
                <button>Click</button>
            </label>
        </div>
    </div>    

</div>