@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Tablica demonstratura";
}
<script src="~/Scripts/jquery-2.2.3.js"></script>
<script src="~/Scripts/knockout-3.4.0.js"></script>
<script src="~/Scripts/knockout.mapping-latest.js"></script>
<script src="~/Scripts/require.js"></script>
@*<script data-main="~/../Scripts/main-config" src="~/Scripts/require.js"></script>*@
<script src="~/Scripts/Pages/Table.js"></script>
<button data-bind="click: test">tipka</button>
<button data-bind="click: test2">tipka2</button>
<div class="rTable">
    <div class="rTableRow">
        <div class="leftNavigation"></div>
        <div class="upperNavigation">
            <div class="arrowLeft" id="arrowLeft" data-bind="click: leftClicked, css:{'arrowLeftDisabled': disableLeft(), 'arrowLeft':!disableLeft()} ">
                <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
            </div>
        </div>
        <div class="upperNavigation"></div>
        <div class="upperNavigation"></div>
        <div class="upperNavigation"></div>
        <div class="upperNavigation"></div>
        <div class="upperNavigation">
            <div class="arrowRight" id="arrowRight" data-bind="click: rightClicked, css:{'arrowRightDisabled': disableRight(), 'arrowRight':!disableRight()} ">
                <i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="rTableRow">
        <div class="leftNavigation">
            <div class="arrowUp" id="arrowUp" data-bind="click: upClicked, css:{'arrowUpDisabled': disableUp(), 'arrowUp':!disableUp()} ">
                <i class="fa fa-arrow-up fa-lg" aria-hidden="true"></i>
            </div>
        </div>
        <div class="firstCell">
            @*<label class="label_t" id="courseName">kolegij</label class="label_t">*@
            <select class="selecter univStudies" id="selectStudy"></select>
            <select class="selecter univCourse" id="selectCourse">
                <option>Please select a course</option>
            </select>
        </div>
        <div class="rTableHeading">
            <label class="label_t" id="Group1" data-bind="text: Terms0()[0].Group().Name">PE-LV1</label><br>
            <label class="label_t" id="demonstrator1" data-bind="text: Terms0()[0].Group().Owner.FullName">demonstrator</label>
        </div>
        <div class="rTableHeading">
            <label class="label_t" id="Group2" data-bind="text: Terms0()[1].Group().Name">PE-LV1</label><br>
            <label class="label_t" id="demonstrator2" data-bind="text: Terms0()[1].Group().Owner.FullName">demonstrator</label>
        </div>
        <div class="rTableHeading">
            <label class="label_t" id="Group3" data-bind="text: Terms0()[2].Group().Name">PE-LV1</label><br>
            <label class="label_t" id="demonstrator3" data-bind="text: Terms0()[2].Group().Owner.FullName">demonstrator</label>
        </div>
        <div class="rTableHeading">
            <label class="label_t" id="Group4" data-bind="text: Terms0()[3].Group().Name">PE-LV1</label><br>
            <label class="label_t" id="demonstrator4" data-bind="text: Terms0()[3].Group().Owner.FullName">demonstrator</label>
        </div>
        <div class="rTableHeading">
            <label class="label_t" id="Group5" data-bind="text: Terms0()[4].Group().Name">PE-LV1</label><br>
            <label class="label_t" id="demonstrator5" data-bind="text: Terms0()[4].Group().Owner.FullName">demonstrator</label>
        </div>
    </div>
    <div class="rTableRow">
        <div class="leftNavigation"></div>
        <div class="firstColumn">
            <label class="label_t" id="date1" data-bind="text:Terms0()[0].TermDate">datum</label>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" data-bind="text:Terms0()[0].UserPerson().FullName">demonstrator</label><br>
            <button class="tableButton takeTerm" data-bind="css: {'takeTerm_disabled': Terms0()[0].UserPerson().Username!=Terms0()[0].Group().Owner.Username, 
                                                                  'takeTerm': Terms0()[0].UserPerson().Username==Terms0()[0].Group().Owner.Username}"
                >Uzmi</button>
            <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search11" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" data-bind="text:Terms0()[1].UserPerson().FullName">demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search12" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" data-bind="text:Terms0()[2].UserPerson().FullName">demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search13" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" data-bind="text:Terms0()[3].UserPerson().FullName">demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search14" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" data-bind="text:Terms0()[4].UserPerson().FullName">demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search15" type="text" placeholder="search" /><br>
        </div>
    </div>
    <div class="rTableRow">
        <div class="leftNavigation"></div>
        <div class="firstColumn">
            <label class="label_t" data-bind="text:Terms1()[0].TermDate">datum</label>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" data-bind="text:Terms1()[0].UserPerson().FullName">demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search21" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" data-bind="text:Terms1()[1].UserPerson().FullName">demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search22" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" data-bind="text:Terms1()[2].UserPerson().FullName">demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search23" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" data-bind="text:Terms1()[3].UserPerson().FullName">demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search24" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" data-bind="text:Terms1()[4].UserPerson().FullName">demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search25" type="text" placeholder="search" /><br>
        </div>
    </div>
    <div class="rTableRow">
        <div class="leftNavigation"></div>
        <div class="firstColumn">
            <label class="label_t" data-bind="text:Terms2()[0].TermDate">datum</label>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" data-bind="text:Terms2()[0].UserPerson().FullName">demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search31" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" data-bind="text:Terms2()[1].UserPerson().FullName">demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search32" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" data-bind="text:Terms2()[2].UserPerson().FullName">demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search33" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" data-bind="text:Terms2()[3].UserPerson().FullName">demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search34" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" data-bind="text:Terms2()[4].UserPerson().FullName">demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search35" type="text" placeholder="search" /><br>
        </div>
    </div>
    <div class="rTableRow">
        <div class="leftNavigation">
            <div>
                <div class="arrowDown" data-bind="click: downClicked, css:{'arrowDownDisabled': disableDown(), 'arrowDown':!disableDown()} ">
                    <i class="fa fa-arrow-down fa-lg" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="firstColumn">
            <label class="label_t" data-bind="text:Terms3()[0].TermDate">datum</label>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" data-bind="text:Terms3()[0].UserPerson().FullName">demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search41" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" data-bind="text:Terms3()[1].UserPerson().FullName">demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search42" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" data-bind="text:Terms3()[2].UserPerson().FullName">demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search43" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" data-bind="text:Terms3()[3].UserPerson().FullName">demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search44" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" data-bind="text:Terms3()[4].UserPerson().FullName">demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search45" type="text" placeholder="search" /><br>
        </div>
    </div>
</div>
