@model DemonstratureAPI.Models.MyUserWithReturnUrl
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Tablica demonstratura";
}


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="~/Scripts/jquery-2.2.3.js"></script>
<script src="~/Scripts/knockout-3.4.2.js"></script>
<script src="~/Scripts/knockout.mapping-latest.js"></script>
<script src="~/Scripts/require.js"></script>
<script src="~/Scripts/Pages/TableKO.js"></script>
@*<script src="~/Scripts/Pages/Table.js"></script>*@


@*<label data-bind="text:YO">aaaaa</label>
    <label data-bind="text: Studies()[0].Name">aaaaa</label>*@
<button id="test">tipka</button>


@*NEW TABLE - with KO*@
<div class="rTable">
    <div class="rTableRow">
        <div class="leftNavigation"></div>
        <div class="upperNavigation">
            <div class="arrowLeft" id="arrowLeft" data-bind="click: leftClicked, css:{'arrowLeftDisabled': disableLeft(), 'arrowLeft':!disableLeft()} ">
                <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
            </div>
        </div>
        <div class="upperNavigation">			</div>
        <div class="upperNavigation">			</div>
        <div class="upperNavigation">			</div>
        <div class="upperNavigation">			</div>
        <div class="upperNavigation">
            <div class="arrowRight" id="arrowRight" data-bind="click: rightClicked, css:{'arrowRightDisabled': disableRight(), 'arrowRight':!disableRight()} ">
                <i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="rTableRow">
        <div class="leftNavigation">
            <div class="arrowUp" id="arrowUp" data-bind="click: upClicked, css:{'arrowUpDisabled': disableUp(), 'arrowUp':!disableUp()} ">
                <i class="fa fa-arrow-up fa-lg" aria-hidden="true"></i>
            </div>
        </div>
        <div class="firstCell">
            <select class="selecter univStudies" id="selectStudy" data-bind="options: Studies,
					optionsText: 'Name',
					value: 'Id',
				optionsCaption: 'Odaberite studij'"></select>
            <br />
            <select class="selecter univCourse" id="selectCourse" data-bind="options: CoursesActive,
					optionsText: 'Name',
					value: 'Id',
				optionsCaption: 'Odaberite kolegij'"></select>
        </div>
        <div class="rTableHeading">
            <label class="label_t groupName" id="groupName0" data-bind="text: Terms0()[0].Term().Group().Name">grupa</label><br>
            <label class="label_t groupOwner" id="groupOwner0" data-bind="text: Terms0()[0].Term().Group().Owner().Name">demonstrator</label><br>
        </div>
        <div class="rTableHeading">
            <label class="label_t groupName" id="groupName1" data-bind="text: Terms0()[1].Term().Group().Name">grupa</label><br>
            <label class="label_t groupOwner" id="groupOwner1" data-bind="text: Terms0()[1].Term().Group().Owner().Name">demonstrator</label><br>
        </div>
        <div class="rTableHeading">
            <label class="label_t groupName" id="groupName2" data-bind="text: Terms0()[2].Term().Group().Name">grupa</label><br>
            <label class="label_t groupOwner" id="groupOwner2" data-bind="text: Terms0()[2].Term().Group().Owner().Name">demonstrator</label><br>
        </div>
        <div class="rTableHeading">
            <label class="label_t groupName" id="groupName3" data-bind="text: Terms0()[3].Term().Group().Name">grupa</label><br>
            <label class="label_t groupOwner" id="groupOwner3" data-bind="text: Terms0()[3].Term().Group().Owner().Name">demonstrator</label><br>
        </div>
        <div class="rTableHeading">
            <label class="label_t groupName" id="groupName4" data-bind="text: Terms0()[4].Term().Group().Name">grupa</label><br>
            <label class="label_t groupOwner" id="groupOwner4" data-bind="text: Terms0()[4].Term().Group().Owner().Name">demonstrator</label><br>
        </div>
    </div>
    <div class="rTableRow">
        <div class="leftNavigation"></div>
        <div class="firstColumn">
            <label class="label_t date" id="date0" data-bind="text: Terms0()[0].Term().TermDate">datum</label>
        </div>
        <div class="rTableCell" data-bind="css: { 'rTableCell0' :  Terms0()[0].CellState()==0, 'rTableCell1':  Terms0()[0].CellState()==1, 'rTableCell2':  Terms0()[0].CellState()==2, 'rTableCellX':  Terms0()[0].CellState()!=0 && Terms0()[0].CellState()!=1 && Terms0()[0].CellState()!=2 }">
            <div class="label_t demoName" id="termOwner00" data-bind="text: Terms0()[0].Term().User().Name">demonstrator</div><br>
            <button id="buttonTakeTerm00" class="tableButton takeTerm" data-bind="text: defaultTextButtonTake"></button>
            <button id="buttonSkipTerm00" class="tableButton skipTerm" data-bind="text: defaultTextButtonSkip"></button><br>
            <select class="search-student" id="search00" data-bind="options: Demonstrators,
				optionsText: 'Name',
				value: 'Id',
				optionsCaption: 'Odaberite demonstratora'"></select>
        </div>
        <div class="rTableCell" data-bind="css: { 'rTableCell0' :  Terms0()[1].CellState()==0, 'rTableCell1':  Terms0()[1].CellState()==1, 'rTableCell2':  Terms0()[1].CellState()==2, 'rTableCellX':  Terms0()[1].CellState()!=0 && Terms0()[1].CellState()!=1 && Terms0()[1].CellState()!=2 }">
            <div class="label_t demoName" id="termOwner01" data-bind="text: Terms0()[1].Term().User().Name">demonstrator</div><br>
            <button id="buttonTakeTerm01" class="tableButton takeTerm" data-bind="text: defaultTextButtonTake"></button>
            <button id="buttonSkipTerm01" class="tableButton skipTerm" data-bind="text: defaultTextButtonSkip"></button><br>
            <select class="search-student" id="search01" data-bind="options: Demonstrators,
				optionsText: 'Name',
				value: 'Id',
				optionsCaption: 'Odaberite demonstratora'"></select>
        </div>
        <div class="rTableCell" data-bind="css: { 'rTableCell0' :  Terms0()[2].CellState()==0, 'rTableCell1':  Terms0()[2].CellState()==1, 'rTableCell2':  Terms0()[2].CellState()==2, 'rTableCellX':  Terms0()[2].CellState()!=0 && Terms0()[2].CellState()!=1 && Terms0()[2].CellState()!=2 }">
            <div class="label_t demoName" id="termOwner02" data-bind="text: Terms0()[2].Term().User().Name">demonstrator</div><br>
            <button id="buttonTakeTerm02" class="tableButton takeTerm" data-bind="text: defaultTextButtonTake"></button>
            <button id="buttonSkipTerm02" class="tableButton skipTerm" data-bind="text: defaultTextButtonSkip"></button><br>
            <select class="search-student" id="search02" data-bind="options: Demonstrators,
				optionsText: 'Name',
				value: 'Id',
				optionsCaption: 'Odaberite demonstratora'"></select>
        </div>
        <div class="rTableCell" data-bind="css: { 'rTableCell0' :  Terms0()[3].CellState()==0, 'rTableCell1':  Terms0()[3].CellState()==1, 'rTableCell2':  Terms0()[3].CellState()==2, 'rTableCellX':  Terms0()[3].CellState()!=0 && Terms0()[3].CellState()!=1 && Terms0()[3].CellState()!=2 }">
            <div class="label_t demoName" id="termOwner03" data-bind="text: Terms0()[3].Term().User().Name">demonstrator</div><br>
            <button id="buttonTakeTerm03" class="tableButton takeTerm" data-bind="text: defaultTextButtonTake"></button>
            <button id="buttonSkipTerm03" class="tableButton skipTerm" data-bind="text: defaultTextButtonSkip"></button><br>
            <select class="search-student" id="search03" data-bind="options: Demonstrators,
				optionsText: 'Name',
				value: 'Id',
				optionsCaption: 'Odaberite demonstratora'"></select>
        </div>
        <div class="rTableCell" data-bind="css: { 'rTableCell0' :  Terms0()[4].CellState()==0, 'rTableCell1':  Terms0()[4].CellState()==1, 'rTableCell2':  Terms0()[4].CellState()==2, 'rTableCellX':  Terms0()[4].CellState()!=0 && Terms0()[4].CellState()!=1 && Terms0()[4].CellState()!=2 }">
            <div class="label_t demoName" id="termOwner04" data-bind="text: Terms0()[4].Term().User().Name">demonstrator</div><br>
            <button id="buttonTakeTerm04" class="tableButton takeTerm" data-bind="text: defaultTextButtonTake"></button>
            <button id="buttonSkipTerm04" class="tableButton skipTerm" data-bind="text: defaultTextButtonSkip"></button><br>
            <select class="search-student" id="search04" data-bind="options: Demonstrators,
				optionsText: 'Name',
				value: 'Id',
				optionsCaption: 'Odaberite demonstratora'"></select>
        </div>
    </div>
    <div class="rTableRow">
        <div class="leftNavigation"></div>
        <div class="firstColumn">
            <label class="label_t date" id="date1" data-bind="text: Terms1()[0].Term().TermDate">datum</label>
        </div>
        <div class="rTableCell" data-bind="css: { 'rTableCell0' :  Terms1()[0].CellState()==0, 'rTableCell1':  Terms1()[0].CellState()==1, 'rTableCell2':  Terms1()[0].CellState()==2, 'rTableCellX':  Terms1()[0].CellState()!=0 && Terms1()[0].CellState()!=1 && Terms1()[0].CellState()!=2 }">
            <div class="label_t demoName" id="termOwner10" data-bind="text: Terms1()[0].Term().User().Name">demonstrator</div><br>
            <button id="buttonTakeTerm10" class="tableButton takeTerm" data-bind="text: defaultTextButtonTake"></button>
            <button id="buttonSkipTerm10" class="tableButton skipTerm" data-bind="text: defaultTextButtonSkip"></button><br>
            <select class="search-student" id="search10" data-bind="options: Demonstrators,
				optionsText: 'Name',
				value: 'Id',
				optionsCaption: 'Odaberite demonstratora'"></select>
        </div>
        <div class="rTableCell" data-bind="css: { 'rTableCell0' :  Terms1()[1].CellState()==0, 'rTableCell1':  Terms1()[1].CellState()==1, 'rTableCell2':  Terms1()[1].CellState()==2, 'rTableCellX':  Terms1()[1].CellState()!=0 && Terms1()[1].CellState()!=1 && Terms1()[1].CellState()!=2 }">
            <div class="label_t demoName" id="termOwner11" data-bind="text: Terms1()[1].Term().User().Name">demonstrator</div><br>
            <button id="buttonTakeTerm11" class="tableButton takeTerm" data-bind="text: defaultTextButtonTake"></button>
            <button id="buttonSkipTerm11" class="tableButton skipTerm" data-bind="text: defaultTextButtonSkip"></button><br>
            <select class="search-student" id="search11" data-bind="options: Demonstrators,
				optionsText: 'Name',
				value: 'Id',
				optionsCaption: 'Odaberite demonstratora'"></select>
        </div>
        <div class="rTableCell" data-bind="css: { 'rTableCell0' :  Terms1()[2].CellState()==0, 'rTableCell1':  Terms1()[2].CellState()==1, 'rTableCell2':  Terms1()[2].CellState()==2, 'rTableCellX':  Terms1()[2].CellState()!=0 && Terms1()[2].CellState()!=1 && Terms1()[2].CellState()!=2 }">
            <div class="label_t demoName" id="termOwner12" data-bind="text: Terms1()[2].Term().User().Name">demonstrator</div><br>
            <button id="buttonTakeTerm12" class="tableButton takeTerm" data-bind="text: defaultTextButtonTake"></button>
            <button id="buttonSkipTerm12" class="tableButton skipTerm" data-bind="text: defaultTextButtonSkip"></button><br>
            <select class="search-student" id="search12" data-bind="options: Demonstrators,
				optionsText: 'Name',
				value: 'Id',
				optionsCaption: 'Odaberite demonstratora'"></select>
        </div>
        <div class="rTableCell" data-bind="css: { 'rTableCell0' :  Terms1()[3].CellState()==0, 'rTableCell1':  Terms1()[3].CellState()==1, 'rTableCell2':  Terms1()[3].CellState()==2, 'rTableCellX':  Terms1()[3].CellState()!=0 && Terms1()[3].CellState()!=1 && Terms1()[3].CellState()!=2 }">
            <div class="label_t demoName" id="termOwner13" data-bind="text: Terms1()[3].Term().User().Name">demonstrator</div><br>
            <button id="buttonTakeTerm13" class="tableButton takeTerm" data-bind="text: defaultTextButtonTake"></button>
            <button id="buttonSkipTerm13" class="tableButton skipTerm" data-bind="text: defaultTextButtonSkip"></button><br>
            <select class="search-student" id="search13" data-bind="options: Demonstrators,
				optionsText: 'Name',
				value: 'Id',
				optionsCaption: 'Odaberite demonstratora'"></select>
        </div>
        <div class="rTableCell" data-bind="css: { 'rTableCell0' :  Terms1()[4].CellState()==0, 'rTableCell1':  Terms1()[4].CellState()==1, 'rTableCell2':  Terms1()[4].CellState()==2, 'rTableCellX':  Terms1()[4].CellState()!=0 && Terms1()[4].CellState()!=1 && Terms1()[4].CellState()!=2 }">
            <div class="label_t demoName" id="termOwner14" data-bind="text: Terms1()[4].Term().User().Name">demonstrator</div><br>
            <button id="buttonTakeTerm14" class="tableButton takeTerm" data-bind="text: defaultTextButtonTake"></button>
            <button id="buttonSkipTerm14" class="tableButton skipTerm" data-bind="text: defaultTextButtonSkip"></button><br>
            <select class="search-student" id="search14" data-bind="options: Demonstrators,
				optionsText: 'Name',
				value: 'Id',
				optionsCaption: 'Odaberite demonstratora'"></select>
        </div>
    </div>
    <div class="rTableRow">
        <div class="leftNavigation"></div>
        <div class="firstColumn">
            <label class="label_t date" id="date2" data-bind="text: Terms2()[0].Term().TermDate">datum</label>
        </div>
        <div class="rTableCell" data-bind="css: { 'rTableCell0' :  Terms2()[0].CellState()==0, 'rTableCell1':  Terms2()[0].CellState()==1, 'rTableCell2':  Terms2()[0].CellState()==2, 'rTableCellX':  Terms2()[0].CellState()!=0 && Terms2()[0].CellState()!=1 && Terms2()[0].CellState()!=2 }">
            <div class="label_t demoName" id="termOwner20" data-bind="text: Terms2()[0].Term().User().Name">demonstrator</div><br>
            <button id="buttonTakeTerm20" class="tableButton takeTerm" data-bind="text: defaultTextButtonTake"></button>
            <button id="buttonSkipTerm20" class="tableButton skipTerm" data-bind="text: defaultTextButtonSkip"></button><br>
            <select class="search-student" id="search20" data-bind="options: Demonstrators,
				optionsText: 'Name',
				value: 'Id',
				optionsCaption: 'Odaberite demonstratora'"></select>
        </div>
        <div class="rTableCell" data-bind="css: { 'rTableCell0' :  Terms2()[1].CellState()==0, 'rTableCell1':  Terms2()[1].CellState()==1, 'rTableCell2':  Terms2()[1].CellState()==2, 'rTableCellX':  Terms2()[1].CellState()!=0 && Terms2()[1].CellState()!=1 && Terms2()[1].CellState()!=2 }">
            <div class="label_t demoName" id="termOwner21" data-bind="text: Terms2()[1].Term().User().Name">demonstrator</div><br>
            <button id="buttonTakeTerm21" class="tableButton takeTerm" data-bind="text: defaultTextButtonTake"></button>
            <button id="buttonSkipTerm21" class="tableButton skipTerm" data-bind="text: defaultTextButtonSkip"></button><br>
            <select class="search-student" id="search21" data-bind="options: Demonstrators,
				optionsText: 'Name',
				value: 'Id',
				optionsCaption: 'Odaberite demonstratora'"></select>
        </div>
        <div class="rTableCell" data-bind="css: { 'rTableCell0' :  Terms2()[2].CellState()==0, 'rTableCell1':  Terms2()[2].CellState()==1, 'rTableCell2':  Terms2()[2].CellState()==2, 'rTableCellX':  Terms2()[2].CellState()!=0 && Terms2()[2].CellState()!=1 && Terms2()[2].CellState()!=2 }">
            <div class="label_t demoName" id="termOwner22" data-bind="text: Terms2()[2].Term().User().Name">demonstrator</div><br>
            <button id="buttonTakeTerm22" class="tableButton takeTerm" data-bind="text: defaultTextButtonTake"></button>
            <button id="buttonSkipTerm22" class="tableButton skipTerm" data-bind="text: defaultTextButtonSkip"></button><br>
            <select class="search-student" id="search22" data-bind="options: Demonstrators,
				optionsText: 'Name',
				value: 'Id',
				optionsCaption: 'Odaberite demonstratora'"></select>
        </div>
        <div class="rTableCell" data-bind="css: { 'rTableCell0' :  Terms2()[3].CellState()==0, 'rTableCell1':  Terms2()[3].CellState()==1, 'rTableCell2':  Terms2()[3].CellState()==2, 'rTableCellX':  Terms2()[3].CellState()!=0 && Terms2()[3].CellState()!=1 && Terms2()[3].CellState()!=2 }">
            <div class="label_t demoName" id="termOwner23" data-bind="text: Terms2()[3].Term().User().Name">demonstrator</div><br>
            <button id="buttonTakeTerm23" class="tableButton takeTerm" data-bind="text: defaultTextButtonTake"></button>
            <button id="buttonSkipTerm23" class="tableButton skipTerm" data-bind="text: defaultTextButtonSkip"></button><br>
            <select class="search-student" id="search23" data-bind="options: Demonstrators,
				optionsText: 'Name',
				value: 'Id',
				optionsCaption: 'Odaberite demonstratora'"></select>
        </div>
        <div class="rTableCell" data-bind="css: { 'rTableCell0' :  Terms2()[4].CellState()==0, 'rTableCell1':  Terms2()[4].CellState()==1, 'rTableCell2':  Terms2()[4].CellState()==2, 'rTableCellX':  Terms2()[4].CellState()!=0 && Terms2()[4].CellState()!=1 && Terms2()[4].CellState()!=2 }">
            <div class="label_t demoName" id="termOwner24" data-bind="text: Terms2()[4].Term().User().Name">demonstrator</div><br>
            <button id="buttonTakeTerm24" class="tableButton takeTerm" data-bind="text: defaultTextButtonTake"></button>
            <button id="buttonSkipTerm24" class="tableButton skipTerm" data-bind="text: defaultTextButtonSkip"></button><br>
            <select class="search-student" id="search24" data-bind="options: Demonstrators,
				optionsText: 'Name',
				value: 'Id',
				optionsCaption: 'Odaberite demonstratora'"></select>
        </div>
    </div>
    <div class="rTableRow">
        <div class="leftNavigation">
            <div>
                <div class="arrowDown" id="arrowDown" data-bind="click: downClicked, css:{'arrowDownDisabled': disableDown(), 'arrowDown':!disableDown()} ">
                    <i class="fa fa-arrow-down fa-lg" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="firstColumn">
            <label class="label_t date" id="date3" data-bind="text: Terms3()[0].Term().TermDate">datum</label>
        </div>
        <div class="rTableCell" data-bind="css: { 'rTableCell0' :  Terms3()[0].CellState()==0, 'rTableCell1':  Terms3()[0].CellState()==1, 'rTableCell2':  Terms3()[0].CellState()==2, 'rTableCellX':  Terms3()[0].CellState()!=0 && Terms3()[0].CellState()!=1 && Terms3()[0].CellState()!=2 }">
            <div class="label_t demoName" id="termOwner30" data-bind="text: Terms3()[0].Term().User().Name">demonstrator</div><br>
            <button id="buttonTakeTerm30" class="tableButton takeTerm" data-bind="text: defaultTextButtonTake"></button>
            <button id="buttonSkipTerm30" class="tableButton skipTerm" data-bind="text: defaultTextButtonSkip"></button><br>
            <select class="search-student" id="search30" data-bind="options: Demonstrators,
				optionsText: 'Name',
				value: 'Id',
				optionsCaption: 'Odaberite demonstratora'"></select>
        </div>
        <div class="rTableCell" data-bind="css: { 'rTableCell0' :  Terms3()[1].CellState()==0, 'rTableCell1':  Terms3()[1].CellState()==1, 'rTableCell2':  Terms3()[1].CellState()==2, 'rTableCellX':  Terms3()[1].CellState()!=0 && Terms3()[1].CellState()!=1 && Terms3()[1].CellState()!=2 }">
            <div class="label_t demoName" id="termOwner31" data-bind="text: Terms3()[1].Term().User().Name">demonstrator</div><br>
            <button id="buttonTakeTerm31" class="tableButton takeTerm" data-bind="text: defaultTextButtonTake"></button>
            <button id="buttonSkipTerm31" class="tableButton skipTerm" data-bind="text: defaultTextButtonSkip"></button><br>
            <select class="search-student" id="search31" data-bind="options: Demonstrators,
				optionsText: 'Name',
				value: 'Id',
				optionsCaption: 'Odaberite demonstratora'"></select>
        </div>
        <div class="rTableCell" data-bind="css: { 'rTableCell0' :  Terms3()[2].CellState()==0, 'rTableCell1':  Terms3()[2].CellState()==1, 'rTableCell2':  Terms3()[2].CellState()==2, 'rTableCellX':  Terms3()[2].CellState()!=0 && Terms3()[2].CellState()!=1 && Terms3()[2].CellState()!=2 }">
            <div class="label_t demoName" id="termOwner32" data-bind="text: Terms3()[2].Term().User().Name">demonstrator</div><br>
            <button id="buttonTakeTerm32" class="tableButton takeTerm" data-bind="text: defaultTextButtonTake"></button>
            <button id="buttonSkipTerm32" class="tableButton skipTerm" data-bind="text: defaultTextButtonSkip"></button><br>
            <select class="search-student" id="search32" data-bind="options: Demonstrators,
				optionsText: 'Name',
				value: 'Id',
				optionsCaption: 'Odaberite demonstratora'"></select>
        </div>
        <div class="rTableCell" data-bind="css: { 'rTableCell0' :  Terms3()[3].CellState()==0, 'rTableCell1':  Terms3()[3].CellState()==1, 'rTableCell2':  Terms3()[3].CellState()==2, 'rTableCellX':  Terms3()[3].CellState()!=0 && Terms3()[3].CellState()!=1 && Terms3()[3].CellState()!=2 }">
            <div class="label_t demoName" id="termOwner33" data-bind="text: Terms3()[3].Term().User().Name">demonstrator</div><br>
            <button id="buttonTakeTerm33" class="tableButton takeTerm" data-bind="text: defaultTextButtonTake"></button>
            <button id="buttonSkipTerm33" class="tableButton skipTerm" data-bind="text: defaultTextButtonSkip"></button><br>
            <select class="search-student" id="search33" data-bind="options: Demonstrators,
				optionsText: 'Name',
				value: 'Id',
				optionsCaption: 'Odaberite demonstratora'"></select>
        </div>
        <div class="rTableCell" data-bind="css: { 'rTableCell0' :  Terms3()[4].CellState()==0, 'rTableCell1':  Terms3()[4].CellState()==1, 'rTableCell2':  Terms3()[4].CellState()==2, 'rTableCellX':  Terms3()[4].CellState()!=0 && Terms3()[4].CellState()!=1 && Terms3()[4].CellState()!=2 }">
            <div class="label_t demoName" id="termOwner34" data-bind="text: Terms3()[4].Term().User().Name">demonstrator</div><br>
            <button id="buttonTakeTerm34" class="tableButton takeTerm" data-bind="text: defaultTextButtonTake"></button>
            <button id="buttonSkipTerm34" class="tableButton skipTerm" data-bind="text: defaultTextButtonSkip"></button><br>
            <select class="search-student" id="search34" data-bind="options: Demonstrators,
				optionsText: 'Name',
				value: 'Id',
				optionsCaption: 'Odaberite demonstratora'"></select>
        </div>
    </div>
</div>