@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Tablica demonstratura";
}
<script src="~/Scripts/jquery-2.2.3.js"></script>
@*<script src="~/Scripts/require.js"></script>*@
<script src="~/Scripts/Cookies.js"></script>
<script src="~/Scripts/Pages/Table.js"></script>
@*<button onclick="test">tipka</button>*@
<div class="rTable">
    <div class="rTableRow">
        <div class="leftNavigation"></div>
        <div class="upperNavigation">
            <div class="arrowLeft" id="arrowLeft">
                <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
            </div>
        </div>
        <div class="upperNavigation"></div>
        <div class="upperNavigation"></div>
        <div class="upperNavigation"></div>
        <div class="upperNavigation"></div>
        <div class="upperNavigation">
            <div class="arrowRight" id="arrowRight">
                <i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="rTableRow">
        <div class="leftNavigation">
            <div class="arrowUp" id="arrowUp">
                <i class="fa fa-arrow-up fa-lg" aria-hidden="true"></i>
            </div>
        </div>
        <div class="firstCell">
            @*<label class="label_t" id="courseName">kolegij</label class="label_t">*@
            <select class="selecter univStudies" id="selectStudy"></select> <br />
            <select class="selecter univCourse" id="selectCourse">
                <option>Please select a course</option>
            </select>
        </div>
        <div class="rTableHeading">
            <label class="label_t" id="groupName0" >PE-LV1</label><br>
            <label class="label_t" id="groupOwner0" >demonstrator</label><br>
        </div>
        <div class="rTableHeading">
            <label class="label_t" id="groupName1" >PE-LV1</label><br>
            <label class="label_t" id="groupOwner1" >demonstrator</label><br>
        </div>
        <div class="rTableHeading">
            <label class="label_t" id="groupName2" >PE-LV1</label><br>
            <label class="label_t" id="groupOwner2" >demonstrator</label><br>
        </div>
        <div class="rTableHeading">
            <label class="label_t" id="groupName3"  >PE-LV1</label><br>
            <label class="label_t" id="groupOwner3" >demonstrator</label><br>
        </div>
        <div class="rTableHeading">
            <label class="label_t" id="Group5"  >PE-LV1</label><br>
            <label class="label_t" id="groupOwner4" >demonstrator</label><br>
        </div>
    </div>
    <div class="rTableRow">
        <div class="leftNavigation"></div>
        <div class="firstColumn">
            <label class="label_t" id="date0">datum</label>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" id="termOwner00" >demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button>
            <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search11" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" id="termOwner01" >demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button><button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search12" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" id="termOwner02" >demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search13" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" id="termOwner03" >demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search14" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" id="termOwner04">demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search15" type="text" placeholder="search" /><br>
        </div>
    </div>
    <div class="rTableRow">
        <div class="leftNavigation"></div>
        <div class="firstColumn">
            <label class="label_t" id="date1">datum</label>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" id="termOwner10" >demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search21" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" id="termOwner11" >demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search22" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" id="termOwner12" >demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search23" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" id="termOwner13" >demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search24" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" id="termOwner14" >demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search25" type="text" placeholder="search" /><br>
        </div>
    </div>
    <div class="rTableRow">
        <div class="leftNavigation"></div>
        <div class="firstColumn">
            <label class="label_t" id="date2">datum</label>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" id="termOwner20" >demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search31" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" id="termOwner21" >demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search32" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" id="termOwner22" >demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search33" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" id="termOwner23" >demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search34" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" id="termOwner24" >demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search35" type="text" placeholder="search" /><br>
        </div>
    </div>
    <div class="rTableRow">
        <div class="leftNavigation">
            <div>
                <div class="arrowDown" id="arrowDown">
                    <i class="fa fa-arrow-down fa-lg" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="firstColumn">
            <label class="label_t" id="date3">datum</label>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" id="termOwner30" >demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search41" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" id="termOwner31">demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search42" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" id="termOwner32" >demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search43" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" id="termOwner33" >demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search44" type="text" placeholder="search" /><br>
        </div>
        <div class="rTableCell">
            <label class="label_t demoName" id="termOwner34">demonstrator</label><br>
            <button class="tableButton takeTerm">Uzmi</button> <button class="tableButton skipTerm">Preskoči</button><br>
            <input class="search-student" id="search45" type="text" placeholder="search" /><br>
        </div>
    </div>
</div>
