body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: cadetblue;
    margin:0px 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.main-table{
    border: solid 2px #355de0;
    width: calc(100%-10px);
    overflow:hidden;
}
.row{
    margin:1%;
}
.cell{
    border: solid 1px #6287ed;
    float:left;
}
