body {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  background-color: #333333;
  margin: 70px 0 0 0px;
  padding: 0 0 0 0; }

.myNavbar {
  background-color: #004E99;
  width: 100%;
  height: 80px;
  margin: -69px 0 0 0; }

.myUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

.tableLi {
  float: left;
  font-size: 25px; }

.settingLi {
  font-size: 20px;
  float: right; }

.settingsDiv {
  color: #e6e6ff;
  padding-top: 25px;
  padding-right: 70px;
  padding-left: 0px;
  padding-bottom: 0; }

.tableDiv {
  color: #e6e6ff;
  margin: 20px 0 0 100px; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 0;
  margin-left: 100px; }

.rTable {
  display: table;
  margin: 50px 0 0 0;
  padding: 20px; }

.rTableRow {
  display: table-row; }

.rTableCell, .firstColumn, .rTableHeading, .firstCell, .leftNavigation {
  background-color: #cce5ff;
  border: 1px solid #333333;
  display: table-cell;
  padding: 35px 35px 35px 35px;
  text-align: center; }

.firstColumn {
  padding: 15px 0;
  background-color: #004E99;
  border: 1px solid #333333;
  border-right: 1px solid #333333;
  border-left: none;
  color: #e6e6ff;
  vertical-align: middle; }

.rTableHeading, .firstCell {
  background-color: #003D78;
  border: 1px solid #333333;
  border-top: none;
  border-bottom: 1px solid #333333;
  font-weight: bold;
  color: #e6e6ff;
  vertical-align: middle; }

.firstCell {
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #003D78; }

.upperNavigation {
  text-align: center;
  display: table-cell;
  background-color: #333333;
  border: none; }

.leftNavigation {
  background-color: #333333;
  border: none; }

.selecter {
  margin: 10px 0;
  background: #003D78;
  color: #e6e6ff;
  border: 1px solid #cce5ff;
  outline: none;
  width: 135px; }
  .selecter option {
    background: #003D78;
    color: #e6e6ff; }

.arrow, .arrowLeft, .arrowRight, .arrowUp, .arrowDown {
  background-color: #cce5ff;
  border: 2px solid #0d0d0d;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
  position: absolute;
  vertical-align: middle;
  transition: all .3s ease; }
  .arrow:hover, .arrowLeft:hover, .arrowRight:hover, .arrowUp:hover, .arrowDown:hover {
    transform: scale(1.15); }

.arrowLeft {
  position: absolute;
  margin: -10px 45px 0 77px; }

.arrowRight {
  position: absolute;
  margin: -10px 15px 0 95px; }

.arrowUp {
  margin: 10px 0 0 -55px; }

.arrowDown {
  margin: 35px 0 0 -55px; }
  .arrowDown .fa-arrow-down {
    padding: 0 0 0 0;
    margin: 0 0 0 0; }

.search-student {
  background-color: #f0f7ff;
  border: 1px solid #333333;
  border-radius: 3px;
  width: 130px;
  margin: 0 0;
  outline: none;
  padding: 2px; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #000; }

.demoName {
  padding: 1px 22px;
  margin: 0 15px;
  font-weight: bolder;
  background-color: #e6eeff;
  border: 2px solid #333333;
  border-radius: 3px;
  width: 130px; }

label {
  padding: 1px 6px;
  margin: 5px 15px; }

.tableButton {
  border: 1px solid #333333;
  border-radius: 4px;
  color: black;
  font-family: 'Lato', sans-serif;
  margin: 20px 3px 20px 3px;
  transition: all .1s ease;
  outline: none; }
  .tableButton.takeTerm {
    background-color: green; }
    .tableButton.takeTerm:hover {
      background-color: #006700;
      cursor: pointer; }
  .tableButton.skipTerm {
    background-color: gray; }
    .tableButton.skipTerm:hover {
      background-color: #737373;
      cursor: pointer; }

