//------------------------------------------------------------------------------------------------------------------//
//-------------------------------------------------background colors------------------------------------------------//
$myBackgroundColor: #333333;
$headerColor: #004E99;
$myHeaderColor: #003D78;
$myFirstColumnColor: #004E99;
$myCellColor: #cce5ff;
$demoNameColor: #e6eeff;
$searchColor: #cce5ff;
$buttonTakeColor: green;
$buttonSkipColor: gray;
//--------------------------------------------------text colors-----------------------------------------------------//
$myHeaderTextColor: #e6e6ff;
$myFirstColumnTextColor: #e6e6ff;
$placeholderColor: #000;
//--------------------------------------------------border colors---------------------------------------------------//
$myBorderColor: #333333;
$myHeadBorderColor:#737373;
$myHeaderBorderColor: #333333;
$myFirstColumnBorderColor: #333333;
$arrowBorderColor: #0d0d0d;
$searchBorder: #333333;
//------------------------------------------------------body--------------------------------------------------------//

body {
   font-family: 'Lato', sans-serif;
   font-size: 15px;
   background-color: $myBackgroundColor;
   margin: 70px 0 0 0px;
   padding: 0 0 0 0;
}
//-----------------------------------------------------navbar-------------------------------------------------------//

.myNavbar{
   background-color: $headerColor;
   width: 100%;
   height: 80px;
   margin: -69px 0 0 0;
}
.myUl{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}
.tableLi{
    float:left;
    font-size: 25px;
}
.settingLi{
    font-size: 20px;
    float:right;
}
.settingsDiv{
    color:$myHeaderTextColor;
    //padding: 25px calc(100%-20px) 0 0;
    padding-top: 25px;
    padding-right: 70px;
    padding-left: 0px;
    padding-bottom:0;
}
.tableDiv{
    color:$myHeaderTextColor;
    margin:20px 0 0 100px;
}