//------------------------------------------------------------------------------------------------------------------//
//-------------------------------------------------background colors------------------------------------------------//
$myBackgroundColor: #333333;
$headerColor: #004E99;
$myHeaderColor: #003D78;
$myFirstColumnColor: #004E99;
$myCellColor: #cce5ff;
$demoNameColor: #e6eeff;
$searchColor: #cce5ff;
$buttonTakeColor: green;
$buttonSkipColor: gray;
//--------------------------------------------------text colors-----------------------------------------------------//
$myHeaderTextColor: #e6e6ff;
$myFirstColumnTextColor: #e6e6ff;
$placeholderColor: #000;
//--------------------------------------------------border colors---------------------------------------------------//
$myBorderColor: #333333;
$myHeadBorderColor:#737373;
$myHeaderBorderColor: #333333;
$myFirstColumnBorderColor: #333333;
$arrowBorderColor: #0d0d0d;
$searchBorder: #333333;
//------------------------------------------------------body--------------------------------------------------------//

body {
   font-family: 'Lato', sans-serif;
   font-size: 15px;
   background-color: $myBackgroundColor;
   margin: 70px 0 0 0px;
   padding: 0 0 0 0;
}
//------------------------------------------------------table-------------------------------------------------------//
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 100px;
}
.rTable {
   display: table;
   margin: 50px 0 0 0;
   padding: 20px;
}
.rTableRow {
   display: table-row;
}
.rTableCell {
   background-color: $myCellColor;
   border: 1px solid $myBorderColor;
   display: table-cell;
   padding: 35px 35px 35px 35px;
   text-align: center;
}
.firstColumn {
   @extend .rTableCell;
   padding: 15px 0;
   background-color: $myFirstColumnColor;
   border: 1px solid $myFirstColumnBorderColor;
   border-right:1px solid $myBorderColor;
   border-left:none;
   color: $myFirstColumnTextColor;
   vertical-align: middle;
}
.rTableHeading {
   @extend .rTableCell;
   background-color: $myHeaderColor;
   border: 1px solid $myHeaderBorderColor;
   border-top:none;
   border-bottom:1px solid $myBorderColor;
   font-weight: bold;
   color: $myHeaderTextColor;
   vertical-align: middle;
}
.firstCell{
   @extend .rTableHeading;
   border-right: 1px solid $myBorderColor;
   border-bottom:1px solid $myBorderColor;
   border-left:1px solid $myHeaderColor;
}
.upperNavigation {
   text-align: center;
   //padding: 20px 11px;
   display: table-cell;
   background-color: $myBackgroundColor;
   border: none;
}
.leftNavigation {
   @extend .rTableCell;
   background-color: $myBackgroundColor;
   border: none;
}
.selecter{
    margin: 10px 0;
    background: $myHeaderColor;
    color: $myHeaderTextColor;
    border:1px solid $myCellColor;
    outline:none;
    width: 135px;
    option {
        background: $myHeaderColor;
        color:$myHeaderTextColor;
    }
    &.univStudies{

    }
    &.univCourse{

    }
}
//------------------------------------------------------navigation buttons------------------------------------------//
.arrow{
   background-color: $myCellColor;
   border: 2px solid $arrowBorderColor;
   border-radius: 10px;
   font-size: 20px;
   padding: 10px;
   position: absolute;
   vertical-align: middle;
   transition: all .3s ease;
   &:hover{
      transform:scale(1.15);
   }
}
.arrowLeft{
   @extend .arrow;
   position: absolute;
   margin: -10px 45px 0 77px;
   .fa-arrow-left{      
   }
}
.arrowRight{
   @extend .arrow;
   position: absolute;
   margin: -10px 15px 0 95px;   
   .fa-arrow-right{         
   }
}
.arrowUp{
   @extend .arrow;
   margin: 10px 0 0 -55px;
   .fa-arrow-up{     
   }
}
.arrowDown{
   @extend .arrow;
   margin: 35px 0 0 -55px;
   .fa-arrow-down{  
      padding: 0 0 0 0;
      margin: 0 0 0 0;
   }
}
//--------------------------------------------------------search----------------------------------------------------//

.search-student {
   background-color: lighten($searchColor,7%);
   border:1px solid $searchBorder;
   border-radius: 3px;
   width: 130px;
   margin: 0 0;
   outline: none;
   padding: 2px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $placeholderColor;
}
//--------------------------------------------------------labels----------------------------------------------------//
.demoName{
   padding: 1px 22px;
   margin: 0 15px;
   font-weight: bolder;
   background-color: $demoNameColor;
   border: 2px solid $searchBorder;
   border-radius: 3px;
   width: 130px;
}
label {
   //border: 1px solid #bbb;
   padding: 1px 6px;
   margin: 5px 15px;
//--------------------------------------------------------buttons---------------------------------------------------//
}
.tableButton{
    border: 1px solid $myBorderColor;
    border-radius: 4px;
    color: black;
    font-family: 'Lato', sans-serif;
    margin: 20px 3px 20px 3px;
    transition: all .1s ease;
    outline:none;
    &.takeTerm{
        background-color: $buttonTakeColor;
        &:hover{
            background-color: darken($buttonTakeColor,5%);
            cursor: pointer;
        }
    }
    &.skipTerm{
        background-color: $buttonSkipColor;       
        &:hover{
            background-color: darken($buttonSkipColor,5%);
            cursor: pointer;
        }
    }
} 
    