@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Login";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/knockout-3.4.2.js"></script>
<script src="~/Scripts/knockout.mapping-latest.js"></script>
<script src="~/Scripts/Pages/Login.js"></script>
<div class="bodyLogin">
    <div class="introPosition">
        <div class="introLogo">
            <a href="http://www.etfos.unios.hr/">
                <img src="http://www.etfos.unios.hr/new-images/ferit-web-200.png" alt="logo" class="logoImg">
            </a>
        </div>
        <div class="introText big">
            Dobrodošli!
        </div>
        <div class="introText">
            Aplikacija za odabir termina demonstrature.
        </div>
    </div>
        <div class="loginPosition">
            <div class="loginForm">
                <form action="/Login/LogIn" method="post">
                        <label class="identifier-big">Prijava</label>
                        <br />
                        <br />
                        <hr />
                        <br />
                        <label class="identifier">Korisničko ime:</label><br />
                        <input id="login_username" class="input_login" type="text" name="username" /><br /> <br />
                        <label class="identifier">Lozinka:</label><br />
                        <input id="login_password" class="input_login" type="password" name="password" /><br /> <br /><br />
                        <button id="login_login" class="saveSetting">Prijava</button>     
                </form>      
            </div>
        </div>

    <div class="introPosition lower">
        <div class="introText small">
            Ako još nemate podatke za login, obratite se asistentu kolegija na kojem ste demonstrator.<br />
        </div>
    </div>     
</div>